# curriculum/
ignore/
SpesCur/
testprograms/
tex/report.aux
tex/report.log
tex/report.out
tex/report.toc
tex/report.synctex.gz
tex/report.run.xml
tex/report.bbl-SAVE-ERROR
tex/report.bbl 
tex/report.blg
tex/report.bcf
tex/refrences.bib
